.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-title {
  margin-top: 2em;
  font-size: 1.2rem;
  font-weight: 700;
}
.email,
.message {
  font-size: 1rem;
}

.email input,
.message input {
  border: none;
  border-bottom: 1px solid;
  width: 20em;
  margin-top: 2em;
  outline: none;
}
.email input {
  margin-left: 0.9em;
  height: 4vh;
}

.message input {
  margin-left: 1.5em;
  height: 10vh;
}

.input-submit {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 10vw;
  height: 5vh;
  font-size: 1rem;
  color: white;
  background-color: #211f1f;
  border-color: transparent;
  border-radius: 5px;
  color: #ffffff;
}
.input-submit:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

@media screen and (max-width: 958px) {
  .contact {
    width: 90%;
  }
  .email,
  .message {
    width: 100%;
  }
  .email input,
  .message input {
    width: 90%;
    height: 30px;
  }
  .btn-submit {
    width: 90%;
    display: flex;
    justify-content: space-around;
  }
  .input-submit {
    height: 30px;
    width: 30%;
  }
}
