.social-media {
  width: 40%;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.social-media i {
  font-size: 2rem;
  padding: 1em;

  transition: ease-in-out 0.3s;
}

.social-media i:hover {
  cursor: pointer;
  color: #181818;
}

.fa-github {
  color: #211f1f;
}
.fa-linkedin {
  color: #0e76a8;
}
.fa-whatsapp {
  color: #4fce5d;
}
.fa-instagram {
  color: #bc2a8d;
}
.fa-facebook {
  color: #3b5998;
}

@media screen and (max-width: 958px) {
  .social-media {
    width: 90%;
    margin: 2em auto;
  }
}
