.footer {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: black;
  /*justify-content: center;*/
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 1.5em;
  width: 100%;
}

.footer-line,
.copy-right {
  padding: 0.5em;
  word-spacing: 0.2em;
}

.copy-right {
  letter-spacing: 0.1em;
}
