.aboutme-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.aboutme-img-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 35em;
}
.aboutme-img {
  border: 3px solid #4dffd2;
  border-radius: 90%;
  width: auto;
  height: 80%;
  object-fit: cover;
}
.aboutme-bio-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1.1rem;
}

.aboutme-name {
  word-spacing: 0.3em;
}
.aboutme-bio,
.second-para-bio {
  margin-top: 1.2em;
  line-height: 2em;
  word-spacing: 0.2em;
}

@media screen and (max-width: 958px) {
  .aboutme-container {
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
  }
  .aboutme-img-container {
    width: 95%;
  }
  .aboutme-bio-container {
    width: 95%;
  }
}

@media screen and (max-width: 330px) {
  .aboutme-bio-container {
    font-size: 0.8rem;
  }
}
